body {
  background-color: grey;
  color: white;
}
h2 {
  text-align: center;
}
p {
  font-size: 15px;
}
input {
  margin-top: 8px;
  padding: 0px;
  height: 28px;
}
.countdown-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  padding: 0px;
  margin-bottom: -11px;
}
